# Entorno virtual
venv/
venv2/
env/

# Archivos compilados de Python
*.pyc
__pycache__/

# Bases de datos locales SQLite
*.db
database.db

# Archivos de log
*.log

# Configuraciones del editor
.vscode/
.idea/

# Otros
.DS_Store
