<p-splitter class="kanban-splitter" layout="horizontal">
  <ng-template #panel>
    <p-panel header="Tareas por Estado" styleClass="custom-panel">
      <div class="kanban-board">
        <div class="kanban-column" *ngFor="let col of kanbanBoard">
          <div class="column-header">{{ col.header }}</div>
          <div class="task-card" *ngFor="let task of col.tasks" [ngClass]="getTaskColor(task.color)">
            <strong>#{{ task.id }} - {{ task.name }}</strong><br />
            <span><strong>Creada:</strong> {{ task.create_at | date: 'yyyy-MM-dd HH:mm' }}</span><br />
            <span><strong>Límite:</strong> {{ task.deadline | date: 'yyyy-MM-dd HH:mm' }}</span><br />
            <span><strong>Descripción:</strong> {{ task.description }}</span>
          </div>
        </div>
      </div>
    </p-panel>
  </ng-template>
</p-splitter>
