.task-blue {
  border-left: 5px solid blue;
}

.task-orange {
  border-left: 5px solid orange;
}

.task-green {
  border-left: 5px solid green;
}

.task-gray {
  border-left: 5px solid gray;
}

.task-red {
  border-left: 5px solid red;
}

